CarClient/Connected Services/CarWS/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interfaces.car/" targetNamespace="http://interfaces.car/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InvalidReservationDateException" type="tns:InvalidReservationDateException" />
  <xs:element name="addAccount" type="tns:addAccount" />
  <xs:element name="addAccountResponse" type="tns:addAccountResponse" />
  <xs:element name="authenticateCustomer" type="tns:authenticateCustomer" />
  <xs:element name="authenticateCustomerResponse" type="tns:authenticateCustomerResponse" />
  <xs:element name="downloadCarImage" type="tns:downloadCarImage" />
  <xs:element name="downloadCarImageResponse" type="tns:downloadCarImageResponse" />
  <xs:element name="editAccount" type="tns:editAccount" />
  <xs:element name="editAccountResponse" type="tns:editAccountResponse" />
  <xs:element name="editReservation" type="tns:editReservation" />
  <xs:element name="editReservationResponse" type="tns:editReservationResponse" />
  <xs:element name="getCar" type="tns:getCar" />
  <xs:element name="getCarResponse" type="tns:getCarResponse" />
  <xs:element name="getCars" type="tns:getCars" />
  <xs:element name="getCarsResponse" type="tns:getCarsResponse" />
  <xs:element name="getCustomer" type="tns:getCustomer" />
  <xs:element name="getCustomerReservations" type="tns:getCustomerReservations" />
  <xs:element name="getCustomerReservationsResponse" type="tns:getCustomerReservationsResponse" />
  <xs:element name="getCustomerResponse" type="tns:getCustomerResponse" />
  <xs:element name="getReservation" type="tns:getReservation" />
  <xs:element name="getReservationResponse" type="tns:getReservationResponse" />
  <xs:element name="greet" type="tns:greet" />
  <xs:element name="greetResponse" type="tns:greetResponse" />
  <xs:element name="loginCustomer" type="tns:loginCustomer" />
  <xs:element name="loginCustomerResponse" type="tns:loginCustomerResponse" />
  <xs:element name="newReservation" type="tns:newReservation" />
  <xs:element name="newReservationResponse" type="tns:newReservationResponse" />
  <xs:element name="removeReservation" type="tns:removeReservation" />
  <xs:element name="removeReservationResponse" type="tns:removeReservationResponse" />
  <xs:element name="searchCars" type="tns:searchCars" />
  <xs:element name="searchCarsResponse" type="tns:searchCarsResponse" />
  <xs:complexType name="editAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="surname" type="xs:string" />
      <xs:element minOccurs="0" name="mail" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadCarImage">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadCarImageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="car">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="brand" type="xs:string" />
      <xs:element minOccurs="0" name="model" type="xs:string" />
      <xs:element name="doors" type="xs:int" />
      <xs:element name="fuelCap" type="xs:int" />
      <xs:element minOccurs="0" name="fuelType" type="xs:string" />
      <xs:element name="range" type="xs:int" />
      <xs:element minOccurs="0" name="gearbox" type="xs:string" />
      <xs:element name="gears" type="xs:int" />
      <xs:element name="dayCost" type="xs:float" />
      <xs:element minOccurs="0" name="imageUrl" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchCars">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element name="arg6" type="xs:int" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element name="arg8" type="xs:int" />
      <xs:element name="arg9" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchCarsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReservation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservation">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="car_id" type="xs:int" />
      <xs:element name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="from" type="xs:string" />
      <xs:element minOccurs="0" name="to" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newReservation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newReservationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvalidReservationDateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInfo" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerReservations">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerReservationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="greet">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="greetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCars">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCarsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeReservation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeReservationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editReservation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editReservationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authenticateCustomer">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="authenticateCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>